<!-- <div class="table-responsive">
  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fecha de Nacimiento</th>
      <th>Género</th>
      <th>Peso</th>
      <th>Estatura</th>
      <th>IMC</th>
      <th>Estado</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of pacientes">
      <td> {{ patient.id }} </td>
      <td> {{ patient.nombre.charAt(0).toUpperCase() + patient.nombre.slice(1) }} </td>
      <td> {{ patient.apellido.charAt(0).toUpperCase() + patient.apellido.slice(1) }} </td>
      <td> {{ patient.fechanac }} </td>
      <td> {{ patient.genero }} </td>
      <td> {{ patient.peso }} </td>
      <td> {{ patient.estatura }} </td>
      <td> {{ patient.imc }} </td>
      <td> {{ patient.estado }} </td>
      <td> <button (click)="openModal(patient)">Calcular IMC</button></td>
      <td><button (click)="Reset(patient)">Reset</button></td>
    </tr>
  </tbody>
</table>
</div> -->
<div class='products-container'>
<article class='card-product' *ngFor="let patient of pacientes">
  <header class='card-product__header'>
      <img
          class='card-product__img-back'
          src="../assets/server/IMC.png"
          alt=""
      />
      <img
          class='card-product__img'
          src="../assets/server/IMC2.jpg"
          alt=""
      />
  </header>
  <div class='card-product__body'>
      <h5 class='card-product__title'>Id: {{ patient.id }} </h5>
      <div class='card-product__price-container'>
          <ul>
          <li><b>Nombre:</b> {{ patient.nombre.charAt(0).toUpperCase() + patient.nombre.slice(1) }}</li>
          <li><b>Apellido:</b> {{ patient.apellido.charAt(0).toUpperCase() + patient.apellido.slice(1) }} </li>
          <li><b> Nacimiento:</b> {{ patient.fechanac }} </li>
          <li><b>Género:</b> {{ patient.genero }} </li>
          <li><b> Peso:</b> {{ patient.peso }} </li>
          <li><b>Estatura:</b> {{ patient.estatura }} </li>
          <li><b>IMC: </b> {{ patient.imc }} </li>
          <li><b>Estado: </b>{{ patient.estado }} </li>
        </ul>
      </div>
      <button (click)="openModal(patient)" class='card-product__btn'>
        IMC
      </button>
      <button class='card-product__btn2' (click)="Reset(patient)">Reset</button>
  </div>
</article>
</div>

<div class="modal" [class.show]="showModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalles del paciente</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>IMC: </b> {{ selectedPatient?.imc }}</p>
        <p><b>Estado:</b> {{ selectedPatient?.estado }}</p>
        <p><b>Descripción de la categoría: </b></p>
        <p>{{ selectedPatient?.categoria?.descripcion }}</p>
        <p><b>Dieta: </b></p>
        <ul>
          <li *ngFor="let dieta of selectedPatient?.dietas">{{ dieta.descripcion }}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>